{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}
Hallo swissbit Team,

dies ist eine eine Anfrage von {{ data.name }} <{{ data.email }}>.

{% if data.message %}
{{ data.name }} hat folgende Nachricht hinterlassen:

{{ data.message }}
{% endif %}
