{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}
Hallo {{ receiver_name }},

{{ name }} sendet Ihnen folgende Filter-Einstellungen:
{{ share_url }}

{% if message %}
Außerdem teilt er Ihenen folgende Nachricht mit:

{{ message }}
{% endif %}

Ihr Swissbit Team.
