{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{% extends '@SwissbitProductFinder/layout/dom-pdf.twig' %}

{% set title = 'Swissbit Product-Compare' %}

{% block content %}
    {% if table %}
        <table class="table table-condensed table-swissbit" style="width: 100%">

            {% if table.titles or table.images %}
                <thead>
                {% if table.titles %}
                    <tr>
                        <td></td>
                        {% for title in table.titles %}
                            <th>{{ title }}</th>
                        {% endfor %}
                    </tr>
                {% endif %}
                </thead>
                {% if table.images %}
                    <tbody>
                    <tr>
                        <td></td>
                        {% for img in table.images %}
                            <td style="vertical-align: middle;">
                                <div style="text-align: center; width: 15em; padding: 1em 0;">
                                    <br />
                                        <img style="width: 80%;" src="{{ img.src }}"/>
                                    <br />
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                {% endif %}
            {% endif %}

            <tbody>
            {% for row in table.body %}
                <tr class="{% if row.highlight %}highlight{% endif %}">
                    <th>{{ row.title|trans({}, 'product') }}</th>
                    {% if row.cells %}
                        {% for cell in row.cells %}
                            <td>{{ cell.value }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endif %}
{% endblock %}
