{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{% extends '@SwissbitProductFinder/layout/dom-pdf.twig' %}

{% set title = 'Swissbit Product-Compare' %}

{% block content %}
    {% if item %}
        <div class="item-card"
             data-item-id="{{ item.id }}"
             data-href="{{ url( '@SwissbitProductFinder:Modal:Product', {'id': item.id} ) | escape }}"
             data-toggle="modal"
        >
            <div class="row">
                <div class="col-xs-8">
                    <table class="table table-swissbit">
                        <tr>
                            <th>Part Number</th>
                            <td>{{ item.swissbitPartNumber }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ item.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-4">
                    <img class="product-image"
                         style="max-width: 40%;"
                         src="{{ item.productPictureWeblink }}"/>
                    <br/>
                    <div data-item-part-number="{{ item.swissbitPartNumber }}" class="item-availability"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
