{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="fas fa-share-alt"></i>
                {% trans with {} from 'modal' %}Share Filter{% endtrans %}
                <span style="font-size: 80%;">{% trans with {} from 'modal' %}via E-Mail{% endtrans %}</span>
            </h4>
        </div>
        <div class="modal-body">
            {#<pre>{{ email_content }}</pre>#}
            <br/>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum.
            </p>
            <form class="form-horizontal" method="post" data-toggle="modal"
                  action="{{ path( '@SwissbitProductFinder:Modal:ShareFilter' ) }}">
                <input type="hidden" name="pid" value="{{ pid }}" />
                <div class="form-group form-group-sm {% if error_messages.name %}has-error{% endif %}">
                    <label class="col-md-3" for="Name">{% trans with {} from 'controls' %}Name{% endtrans %}</label>
                    <div class="col-md-9">
                        <input class="form-control" name="Name" id="Name" type="text" value="{{ values.name }}"/>
                        {% if error_messages.name %}
                        <div class="help-block">
                            {{ error_messages.name|trans({}, 'validate') }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group form-group-sm {% if error_messages.message %}has-error{% endif %}">
                    <label class="col-md-3"
                           for="Message">{% trans with {} from 'controls' %}Message{% endtrans %}</label>
                    <div class="col-md-9">
                        <textarea class="form-control"
                                  name="Message"
                                  id="Message"
                                  rows="10">{{ values.message }}</textarea>
                        {% if error_messages.message %}
                        <div class="help-block">
                            {{ error_messages.name|trans({}, 'validate') }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <hr />
                <div class="form-group form-group-sm {% if error_messages.receiver_name %}has-error{% endif %}">
                    <label class="col-md-3" for="Name">{% trans with {} from 'controls' %}Receiver Name{% endtrans %}</label>
                    <div class="col-md-9">
                        <input class="form-control" name="ReceiverName" id="ReceiverName" type="text" value="{{ values.receiver_name }}"/>
                        {% if error_messages.receiver_name %}
                            <div class="help-block">
                                {{ error_messages.receiver_name|trans({}, 'validate') }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group form-group-sm {% if error_messages.receiver_email %}has-error{% endif %}">
                    <label class="col-md-3" for="Name">{% trans with {} from 'controls' %}Receiver Email{% endtrans %}</label>
                    <div class="col-md-9">
                        <input class="form-control" name="ReceiverEmail" id="ReceiverEmail" type="text" value="{{ values.receiver_email }}"/>
                        {% if error_messages.receiver_email %}
                            <div class="help-block">
                                {{ error_messages.receiver_email|trans({}, 'validate') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                {% trans with {} from 'controls' %}Cancel{% endtrans %}</button>
            <button type="button" class="btn btn-primary" data-type="submit">
                {% trans with {} from 'controls' %}Submit{% endtrans %}</button>
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
