{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="glyphicon glyphicon-comment"></i> {% trans with {} from 'modal' %}Pose Request{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-success">
                {% trans %}Message sent successfully.{% endtrans %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans with {} from 'controls' %}Ok{% endtrans %}</button>
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
