{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}
{% for item in items %}

    <div class="item-card fade {% if item.id in selected_items %}selected{% endif %}"
         data-item-id="{{ item.id }}"
         data-href="{{ url( '@SwissbitProductFinder:Modal:Product', {'id': item.id} ) | escape }}"
         data-toggle="modal"
    >
        <div class="row">
            <div class="col-xs-8">
                <table class="table table-swissbit">
                    <tr>
                        <th>Part Number</th>
                        <td>{{ item.swissbitPartNumber }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ item.description }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-4">
                <img class="product-image" style="max-width: 100%;" src="{{ item.productPictureWeblink }}"/>
                <br/>
                <div data-item-part-number="{{ item.swissbitPartNumber }}" class="item-availability"></div>
            </div>
        </div>
    </div>
{% endfor %}
