{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}
<tbody>
{% for item in items %}
    <tr class="fade {% if item.id in selected_items %}selected{% endif %}"
        data-item-id="{{ item.id }}"
        data-toggle="modal"
        data-href="{{ url( '@SwissbitProductFinder:Modal:Product', {'id': item.id} ) | escape }}">
        <td></td>
        <td>{{ item.useCaseValue( use_case_key ) }}</td>
        <td><img style="width: 80px;" src="{{ item.productPictureWeblink }}"/></td>
        <td>{{ item.swissbitPartNumber }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.flashType }}</td>
        <td>{{ item.temperatureGrade }}</td>
        <td>{{ item.relCost }}</td>
        <td>{{ item.density }}</td>
        <td>{{ item.seqReadPerformance }}</td>
        <td>{{ item.seqWritePerformance }}</td>
        <td>{{ item.endurance }}</td>
        <td>
            <div data-item-part-number="{{ item.swissbitPartNumber }}" class="item-availability"></div>
        </td>
    </tr>
{% endfor %}
</tbody>
