{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% set title = 'Swissbit Product-Compare' %}
{% set modal_size = 'large' %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans with {} from 'modal' %}Product Compare{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            <div class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        <a target="_blank"
                           href="{{ url('@SwissbitProductFinder:Download:ProductCompare[download-pdf]') }}"
                           class="btn btn-primary btn-sm"><i
                                    class="fas fa-file-pdf"></i> {% trans with {} from 'controls' %}Download PDF{% endtrans %}
                        </a>
                        <a target="_blank"
                           href="{{ url('@SwissbitProductFinder:Download:ProductCompare[download-xls]') }}"
                           class="btn btn-primary btn-sm"><i
                                    class="fas fa-file-excel"></i> {% trans with {} from 'controls' %}Download XLS{% endtrans %}
                        </a>
                        <a data-toggle="modal" href="{{ url('@SwissbitProductFinder:Modal:Request[product-compare]') }}"
                           class="btn btn-primary btn-sm"><i
                                    class="glyphicon glyphicon-comment"></i> {% trans with {} from 'controls' %}Request{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
            {% if table %}
                <div class="table-responsive">
                    <table class="table table-swissbit">

                        {% if( 0 < table.columns ) %}
                            <colgroup span="{{ table.columns }}"
                                      style="width: {{ 100 / table.columns }}%"></colgroup>
                        {% endif %}

                        {% if table.titles or table.images %}
                            <thead>
                            {% if table.titles %}
                                <tr>
                                    <td></td>
                                    {% for title in table.titles %}
                                        <th>{{ title }}</th>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            </thead>
                        {% endif %}
                        {% if table.images %}
                            <tbody>
                            <tr>
                                <td></td>
                                {% for img in table.images %}
                                    <td><img class="product-image" style="max-width: 50%;" src="{{ img.src }}"/></td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        {% endif %}
                        <tbody>
                        {% for row in table.body %}
                            <tr class="{% if row.highlight %}highlight{% endif %}">
                                <th>{{ row.title|trans({}, 'product') }}</th>
                                {% if row.cells %}
                                    {% for cell in row.cells %}
                                        <td>{{ cell.value }}</td>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <!--
            <a data-toggle="modal"
               href="{{ url('@SwissbitProductFinder:Modal:ProductCompare', {'do': 'reset'}) }}"
               class="btn btn-default">{% trans with {} from 'controls' %}Reset Product Compare{% endtrans %}</a>
           -->
            <button type="button" class="btn btn-primary"
                    data-dismiss="modal">{% trans with {} from 'controls' %}Close{% endtrans %}</button>
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
