{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% set title = 'Swissbit Product-Compare' %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{% trans with {} from 'modal' %}Product Compare{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">
                <strong>{% trans %}Unable to compare items.{% endtrans %}</strong><br />
                {% trans %}Not enough products selected, please select at least two items.{% endtrans %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    data-dismiss="modal">{% trans with {} from 'controls' %}Close{% endtrans %}</button>
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
