{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% set modal_size = 'large' %}

{% block content %}
    <div class="modal-content" data-modal-size="{{ modal_size }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="fas fa-hdd"></i> {{ product.description }}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-2 col-md-4">
                    <p class="text-center">
                        <img style="max-width: 100%;" class="product-image" src="{{ product.productPictureWeblink }}"
                             alt="{{ product.description }}"/>
                    </p>
                </div>
                <div class="col-sm-10 col-md-8">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="hidden-xs">{% trans with {} from 'product' %}Part Number{% endtrans %}</th>
                            <td>
                                <span class="h5 visible-xs">{% trans with {} from 'product' %}Part Number{% endtrans %}</span>
                                {{ product.swissbitPartNumber }}
                            </td>
                        </tr>
                        <tr>
                            <th class="hidden-xs">{{ 'Speed (read)'|trans({}, 'product') }}</th>
                            <td>
                                <span class="h5 visible-xs">{{ 'Speed (read)'|trans({}, 'product') }}</span>
                                {{ product.seqReadPerformance }}
                            </td>
                        </tr>
                        <tr>
                            <th class="hidden-xs">{{ 'Speed (write)'|trans({}, 'product') }}</th>
                            <td>
                                <span class="h5 visible-xs">{{ 'Speed (write)'|trans({}, 'product') }}</span>
                                {{ product.seqWritePerformance }}
                            </td>
                        </tr>
                        <tr>
                            <th class="hidden-xs">{% trans with {} from 'product' %}Availability{% endtrans %}</th>
                            <td>
                                <span class="h5 visible-xs">{% trans with {} from 'product' %}Availability{% endtrans %}</span>
                                {% if offers is not empty %}
                                    <ul class="list-group">
                                        {% for offer in offers %}
                                            <li class="list-group-item" data-href="{{ offer.url }}"
                                                onclick="" {# required for iOS #}
                                                data-target="_blank">
                                                {{ offer.seller_name|e }}
                                                <div class="pull-right">
                                                    {% if 0 < offer.qty %}
                                                        <span class="label label-success">
                                                        {{ '%qty% units available'|trans({ '%qty%': offer.qty}, 'product') }}</span>{# {% trans with {} from 'product' %}Units Available{% endtrans %} #}
                                                        <!-- <span class="badge bg-primary">{{ offer.qty }}</span> -->
                                                    {% else %}
                                                        <span class="label label-default">
                                                            {% trans with {} from 'product' %}Not Available{% endtrans %}</span>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <p class="text-right">
                                    {% if buy_url %}
                                        <a target="_blank"
                                           href="{{ buy_url }}"
                                           class="btn btn-sm btn-primary"><i
                                                    class="fas fa-cart-plus"></i>
                                            {% trans with {} from 'controls' %}Buy now{% endtrans %}
                                        </a>
                                    {% else %}
                                        <button
                                                disabled="disabled"
                                                class="btn btn-sm btn-primary btn-disabled"><i
                                                    class="fas fa-cart-plus"></i>
                                            {% trans with {} from 'controls' %}Buy now{% endtrans %}
                                        </button>
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th class="hidden-xs">{% trans with {} from 'product' %}Series{% endtrans %}</th>
                            <td>
                                <span class="h5 visible-xs">{% trans with {} from 'product' %}Series{% endtrans %}</span>
                                {{ product.series }}
                            </td>
                        </tr>
                        <tr>
                            <th class="hidden-xs">{% trans with {} from 'product' %}Flash Type{% endtrans %}</th>
                            <td>
                                <span class="h5 visible-xs">{% trans with {} from 'product' %}Flash Type{% endtrans %}</span>
                                {{ product.flashType }}
                            </td>
                        </tr>
                        <tr>
                            <th class="hidden-xs">{% trans with {} from 'product' %}Product specification{% endtrans %}</th>
                            <td>
                                <span class="h5 visible-xs">{% trans with {} from 'product' %}Product specification{% endtrans %}</span>
                                <a target="_blank" href="{{ product.factSheetWeblink }}"><i class="fas fa-file-pdf"></i>
                                    Product specification sheet</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">{% trans with {} from 'controls' %}Close{% endtrans %}</button>
            <a data-toggle="modal"
               href="{{ url('@SwissbitProductFinder:Modal:Request[product]', {'id': product.id}) }}"
               class="btn btn-primary"
            >{% trans with {} from 'controls' %}Request{% endtrans %}</a>
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
