{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{# $view->extend( '@SwissbitProductFinder/Resources/layouts/plain.php' ); #}
{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="fas fa-upload"></i>
                {% trans with {} from 'modal' %}Import Products{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-success">
                {{ 'Import was finished successfully: %number% entries imported.'|trans({ '%number%': imported_entries}) }}
                {% if 0 < ignored_entries %}
                    {{ '%number% entries ignored.'|trans({ '%number%': ignored_entries}) }}
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
                {% trans with {} from 'controls' %}Close{% endtrans %}</button>
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
