{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{# $view->extend( '@SwissbitProductFinder/Resources/layouts/plain.php' ); #}
{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% set modal_size = 'large' %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="fas fa-upload"></i>
                {% trans with {} from 'modal' %}Import Products{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-info">
                <table class="table" style="table-layout: fixed;">
                    <tr>
                        <th>Total entries found</th>
                        <td>{{ total_entries_found }}</td>
                    </tr>
                    <tr class="success">
                        <th>Total valid entries found</th>
                        <td>{{ valid_entries }}</td>
                    </tr>
                    <tr class="danger">
                        <th>Total invalid entries found</th>
                        <td>{{ invalid_entries }}</td>
                    </tr>
                </table>
            </div>
            <p>To force the import of all {{ valid_entries }} valid entries press the "Force Import"-Button below.</p>
            <div class="well">
                <a class="btn btn-primary"
                   href="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts' ) }}"
                   data-toggle="modal">
                    {% trans with {} from 'controls' %}Back{% endtrans %}</a>
                <a class="btn btn-primary"
                   href="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts[import]' ) }}?force=1"
                   data-toggle="modal">
                    {% trans with {} from 'controls' %}Force Import{% endtrans %}</a>
            </div>
            <div class="panel panel-warning">

                {% for row in errors %}
                    <div class="panel-heading">
                        {{ row.errors|length }} Fehler in Zeile {{ row.rowIndex }}
                    </div>
                    <table class="table">
                        {% for error in row.errors %}
                            <tr>
                                <th>Col</th>
                                <td>{{ error.col }}</td>
                            </tr>
                            <tr>
                                <th>Error</th>
                                <td>{{ error.validatorErrorMessage }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}

            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <a class="btn btn-primary"
                   href="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts' ) }}"
                   data-toggle="modal">
                    {% trans with {} from 'controls' %}Back{% endtrans %}</a>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                {% trans with {} from 'controls' %}Cancel{% endtrans %}</button>
            <a class="btn btn-primary"
               href="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts[import]' ) }}"
               data-toggle="modal">
                {% trans with {} from 'controls' %}Force Import{% endtrans %}</a>
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
