{#
 # @copyright netshake GmbH <labs@netshake.de>
 # @author    chris <chris@netshake.de>
 # Creationtime: 22:35 - 02.02.18
#}

{# $view->extend( '@SwissbitProductFinder/Resources/layouts/plain.php' ); #}
{% extends '@SwissbitProductFinder/layout/modal.twig' %}

{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="fas fa-upload"></i>
                {% trans with {} from 'modal' %}Import Products{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            {% if( sourcefile ) %}
                <div class="panel panel-primary">
                    <div class="panel-body">
                        Sourcefile: {{ sourcefile }}
                        <a target="_blank"
                           href="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts[download-import-file]' ) }}">
                            {% trans with {} from 'controls' %}Download{% endtrans %}</a>
                        |
                        <a data-toggle="modal"
                           href="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts[remove-source-file]' ) }}">
                            {% trans with {} from 'controls' %}Delete{% endtrans %}</a>
                    </div>
                </div>
            {% else %}
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et
                    ea rebum.
                </p>
                <form class="form-horizontal" method="post" data-toggle="modal"
                      enctype="multipart/form-data"
                      action="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts' ) }}">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2" for="Name">{% trans with {} from 'controls' %}File{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="File" id="File" type="file"/>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="modal-footer">
            {% if( sourcefile ) %}
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% trans with {} from 'controls' %}Cancel{% endtrans %}</button>
                <a class="btn btn-primary"
                   href="{{ path( '@SwissbitProductFinder:Admin:Modal:ImportProducts[import]' ) }}"
                   data-toggle="modal">
                    {% trans with {} from 'controls' %}Run Import{% endtrans %}</a>
            {% else %}
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% trans with {} from 'controls' %}Cancel{% endtrans %}</button>
                <button type="button" class="btn btn-primary" data-type="submit">
                    {% trans with {} from 'controls' %}Upload{% endtrans %}</button>
            {% endif %}
        </div>
    </div><!-- /.modal-content -->
{% endblock %}
