{#
# @copyright netshake GmbH <labs@netshake.de>
# @author    chris <chris@netshake.de>
# Creationtime: 22:31 - 02.02.18
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if 'large' == title|default('DOM-Pdf') %}modal-lg{% endif %}</title>

    <link rel="stylesheet"
          href="{{ absolute_url(asset('files/themes/swissbit/css/dom-pdf.css')) }}?{{ date().timestamp }}"/>
</head>
<body>
<div class="header">
    <img style="width: 10em;" src="{{ absolute_url(asset('files/themes/swissbit/images/logo.png')) }}"/>
</div>
<div class="main">
    {% block content %}{% endblock %}
</div>
</body>
</html>
