{#
# @copyright netshake GmbH <labs@netshake.de>
# @author    chris <chris@netshake.de>
# Creationtime: 22:31 - 02.02.18
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Modal</title>
</head>
<body>
<div class="modal-dialog {% if 'large' == modal_size|default('medium') %}modal-lg{% endif %}" role="document">
    {% block content %}{% endblock %}
</div>
</body>
</html>
