<?php
/**
 * @copyright netshake GmbH <labs@netshake.de>
 * @author    chris <chris@netshake.de>
 * Creationtime: 22:31 - 02.02.18
 *
 * @var Symfony\Bundle\FrameworkBundle\Templating\TimedPhpEngine $this
 */
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Kantinen</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="<?php echo $baseUrl; ?>/bundles/insivacanteen/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $baseUrl; ?>/bundles/insivacanteen/css/font-awesome.min.css">
    <link rel="stylesheet" href="<?php echo $baseUrl; ?>/bundles/insivacanteen/css/main.min.css">
    <link rel="stylesheet" media="print" href="<?php echo $baseUrl; ?>/bundles/insivacanteen/css/print.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<?php $view['slots']->output( '_content' ) ?>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="<?php echo $baseUrl; ?>/bundles/insivacanteen/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="<?php echo $baseUrl; ?>/bundles/insivacanteen/js/bootstrap.min.js"></script>
</body>
